In [6]:
import os
from biosignal_analysis_tools import *
import numpy as np
import pandas as pd

In [17]:
subject = 1
data_path = "D:\AI-Workspace\sEMG_Classification\BMIS_EMG_DATA\data\csv_data\subject_1\S1_R1_G3.csv"

In [18]:
data = pd.read_csv(data_path, header=0)

In [19]:
data.head(10)

,Channel_1,Channel_2,Channel_3,Channel_4,Channel_5,Channel_6,Channel_7,Channel_8
0,-4,-1,-1,8,-1,-6,3,-6
1,-10,-4,-4,0,-4,-7,-26,-7
2,2,-1,-2,-2,2,14,-66,-4
3,-5,-5,-6,-4,-4,-12,23,-9
4,9,1,-1,-1,2,-6,54,9
5,-1,-5,1,0,-1,-1,-63,4
6,-5,-4,-5,-6,-5,8,31,-2
7,-5,-12,-6,-5,-6,-11,35,-7
8,1,-1,-3,-2,-2,0,-45,-2
9,-5,34,-4,-9,-6,-10,-5,-14

In [11]:
data.describe() # Gesture 1

,Channel_1,Channel_2,Channel_3,Channel_4,Channel_5,Channel_6,Channel_7,Channel_8
count,1578.000000,1578.000000,1578.000000,1578.000000,1578.000000,1578.000000,1578.000000,1578.000000
mean,-1.453739,-1.522814,-1.610266,-1.520279,-1.577313,-1.481622,-1.431559,-1.520279
std,2.341910,2.357099,8.917551,12.720792,5.086884,4.016608,3.346707,1.935198
min,-10.000000,-19.000000,-34.000000,-45.000000,-17.000000,-26.000000,-14.000000,-7.000000
25%,-3.000000,-3.000000,-6.000000,-9.000000,-5.000000,-4.000000,-4.000000,-3.000000
50%,-1.000000,-1.000000,-2.000000,-3.000000,-2.000000,-1.000000,-2.000000,-2.000000
75%,0.000000,0.000000,2.000000,4.750000,1.000000,1.000000,0.000000,0.000000
max,7.000000,9.000000,48.000000,69.000000,24.000000,23.000000,12.000000,6.000000

In [15]:
data.describe() # Gesture 2

,Channel_1,Channel_2,Channel_3,Channel_4,Channel_5,Channel_6,Channel_7,Channel_8
count,1588.000000,1588.000000,1588.000000,1588.000000,1588.000000,1588.000000,1588.000000,1588.00000
mean,-1.513854,-1.839421,-2.023300,-1.365869,-1.527708,-1.600126,-1.559824,-1.50063
std,9.821170,15.965978,35.324708,29.705363,12.830822,6.135062,5.650686,7.48765
min,-52.000000,-74.000000,-128.000000,-90.000000,-35.000000,-24.000000,-29.000000,-102.00000
25%,-6.000000,-11.000000,-23.000000,-20.000000,-10.000000,-5.000000,-5.000000,-4.00000
50%,-1.000000,-1.000000,-2.000000,-5.000000,-3.000000,-2.000000,-2.000000,-1.00000
75%,3.000000,7.000000,18.000000,13.000000,4.250000,2.000000,1.000000,1.00000
max,61.000000,65.000000,127.000000,127.000000,68.000000,32.000000,35.000000,69.00000

In [16]:
data.var()

Channel_1      96.455385
Channel_2     254.912446
Channel_3    1247.834996
Channel_4     882.408589
Channel_5     164.629982
Channel_6      37.638992
Channel_7      31.930256
Channel_8      56.064902
dtype: float64

In [20]:
data.var()

Channel_1     14.928965
Channel_2      6.697533
Channel_3     13.361462
Channel_4     58.124017
Channel_5     19.284848
Channel_6     81.807359
Channel_7    669.093834
Channel_8     36.306335
dtype: float64